[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/hlissner/doom-emacs.git
	branch = develop
[submodule ".config/kitty/dracula"]
	path = .config/kitty/dracula
	url = https://github.com/dracula/kitty.git
[submodule ".nord-dircolors"]
	path = .nord-dircolors
	url = https://github.com/arcticicestudio/nord-dircolors.git
