[user]
	email = strayer@olle-orks.org
	name = Sven Grunewaldt
	signingkey = 5F42398FF62148AD53B15B4C9008BCAFDBB19046
[commit]
	gpgsign = true
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  ph = push -u origin head
  co = checkout
  c = commit
  pl = pull
  pu = push
  f = fetch
  root = rev-parse --show-toplevel
[github]
	user = Strayer
[tag]
	forceSignAnnotated = false
[gpg]
	program = gpg
[difftool]
  prompt = false
[merge]
	tool = p4merge
[diff]
  tool = nvimdiff
[core]
  excludesfile = ~/.gitignore
[mergetool]
  prompt = false
[mergetool "nvimdiff"]
  cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[pull]
	rebase = false
[init]
	defaultBranch = main
