[settings]
experimental = true

[tools]
usage = "latest"
"aqua:hashicorp/terraform" = "latest"
"npm:gh-actions-language-server" = "latest"
"npm:emmet-ls" = "latest"
"npm:vscode-langservers-extracted" = "latest"
{{- if eq .chezmoi.hostname "CO-MBP-KC9KQV64V3" }}
maven = "latest"
{{- end }}
