[settings]
experimental = true
idiomatic_version_file_enable_tools = []

[tools]
usage = "latest"
"aqua:hashicorp/terraform" = "latest"
"npm:gh-actions-language-server" = "latest"
"npm:emmet-ls" = "latest"
"npm:vscode-langservers-extracted" = "latest"
"npm:svgexport" = "latest"
"npm:@anthropic-ai/claude-code" = "latest"
"npm:@google/gemini-cli" = "latest"
{{- if eq .chezmoi.hostname "CO-MBP-KC9KQV64V3" }}
maven = "latest"
{{- end }}
